<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
   <%= render 'users/new', user:@user, book:@book %>
   <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
     <table class="table">
       <tbody>
         <tr>
           <td>
            <%= link_to user_path(@showbook.user) do %>
             <%=attachment_image_tag(@showbook.user, :profile_image, :fill, 60, 60, format:'jpeg', fallback:"no_image.jpg")%>
            <% end %>
            <%= link_to user_path(@showbook.user) do %>
             <%= @showbook.user.name %>
            <% end %>
            <td>
           <td>
            <%= link_to book_path do %>
             <%= @showbook.title %>
            <% end %>
           </td>
           <td><%= @showbook.body %></td>
           <td>
            <% if @showbook.user.id == current_user.id %>
             <%= link_to "Edit", edit_book_path(@showbook), class:"btn btn-sm btn-success" %>
            <% end %>
           </td>
           <td>
            <% if @showbook.user.id == current_user.id %>
             <%= link_to "Destroy", book_path(@showbook), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
           <% end %>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
  </div>
</div>